<div class="container d-flex row events-page">

  <div class="container d-flex column content-events">

    <div class="container d-flex events-header ">

      <div class="icon-header">
        <mat-icon >event</mat-icon>
      </div>
      <div class="container d-flex title-header">
        <span>Scheduled Events</span>
        <span class="subtitle">- Here you can see all events scheduled.</span>

      </div>

    </div>

    <div class="events-table">
      <table class="table">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdoaaaaaaaaaaaaaaaaaaaaa</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
