<div class="container d-flex row events-page">

  <div class="container d-flex column content-events">

    <div class="container d-flex events-header ">

      <div class="icon-header">
        <mat-icon (click)="openNewDialog()">add_circle_outline</mat-icon>
      </div>

      <div class="container d-flex title-header">
        <span>Add New Event</span>
        <span class="subtitle"></span>
      </div>


    </div>

    <div class="events-table">



      <div class="table-responsive">
        <table class="table">

          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Description</th>
              <th scope="col" class="actions">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let eventItem of eventList">
              <td>{{eventItem.id}}</td>
              <td>{{eventItem.name}}</td>
              <td>{{eventItem.dateStart | date: 'medium'}}</td>
              <td>{{eventItem.dateFinish | date: 'medium'}}</td>
              <td class="description-column" style="word-break: break-all;">{{eventItem.description}}</td>
              <td>
                <div class="container d-flex actions">
                  <div><mat-icon class="editIcon" (click)="openEditDialog(eventItem)">edit</mat-icon></div>
                  <div><mat-icon class="deleteIcon" (click)="openConfirmDialog(eventItem.id, eventItem.name)">delete</mat-icon></div>
                </div>
              </td>
            </tr>
          </tbody>



        </table>
      </div>



    </div>

  </div>

</div>
